redirecturl=https://localhost/thanks
sas-user=admin@localhost
sas-passwd=changeme
apikey=123456
reseturl=https://localhost/reset
jwt-audience=sas-audience
publickey=/etc/sas/public_key.pem
privatekey=/etc/sas/pkcs8.key
facebook-id=appid
facebook-secret=appsecret
jwt-lifetime=86400000
jwt-issuer=auth.eatzee.life
mail.smtp.host=localhost
mail.smtp.starttls.enable=true
mail.smtp.auth=true
serverurl=https://localhost:8080/sas/v1
hibernate.connection.driver_class=com.mysql.jdbc.Driver
hibernate.connection.url=jdbc:mysql://localhost:3306/SAS?autoReconnect=true&useSSL=false
hibernate.connection.username=sasuser
hibernate.connection.password=f5%dC23!b
hibernate.hbm2ddl.auto=update
hibernate.show_sql=true
hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
email-user=username
email-password=password
